/* responsivo
.col-1 img{
    width: 14rem;
    display: block; /* Transforma em um bloco para usar o margin auto
    margin: -1rem -1.5rem; /* Centraliza horizontalmente 
}
.col-2 img{
    width: 7.5rem;
    display: block;
    margin: 0 auto;
}
*/